/* adding style to body*/
body{
  margin: 20;
  background:url(back1.jpg); 
	background-size: cover;
	font-family: arial;
	color: white;

}

#wrapper{
  width: 910px;
  height: 900px;
  background-color: #fff;
  margin: 0 auto;
}

/* adding style to nav tag*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;

    background-color: #800000;
}

ul li {
    float: left;
    border-right: 2px solid;
    
}

ul li a {
	font-family: Arial;
	font-weight: bold;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

li a:hover {
    background-color:black;
	transition: 0.6s;
}



#border1 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 470px;
    height: 280px;    
}


.textbox {
	border: 1px solid #B3B3B3;
	font: normal 11px Arial, Helvetica, Tahoma; 
	color:#656565;
}

.left {
	float:left;

  color: #191919;
}

.right{
	float:right;
}

.boldtxt {
	font-weight:bold;
	 }

.headtxt {
	font: normal 18px Georgia, Arial, Helvetica, Tahoma;
	 color: red;
	}

.headtxt1 {
	font: bold 13px Georgia, Arial, Helvetica, Tahoma;
	 color: red;
	}.clear{clear:both;}

/*images slideing*/

/*.menu{
  background-color: #e5e4d7;
  margin: 10px;
  border-radius: 5px;
  padding: 20px;

}
*/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {


  .text {font-size: 11px}
}



.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}


/**footer */

footer {
  padding: 40px 0px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:  #222;
 
margin-left: 20px;
margin-right: 20px;
   color: white;
   text-align: center;
}
